/* ===== HEADER ===== */

.header {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 18px;
}

.menu li {
    list-style: circle;
} 

.menu li:first-child {
    list-style: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-style: normal;
    max-width: 240px;
    justify-self: end;
    align-items: flex-start;
    font-size: 18px;    
}

.contacts p {
    margin: 0;
}

.tel {

}

.mailto {

}

.street {

}

.logo {
    display: block;
    width: 148px;
    justify-self: center;
}


/* ===== COVER ===== */

.cover {
    padding: 165px 50px 50px;
    margin-bottom: 180px;
    background-image: url(./images/cover.jpg);
    min-height: 757px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0.6;
}

.cover_title {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
}


.text_align-left {
    display: block;
    text-align: left;
}

.text_align-center {
    display: block;
    text-align: center;
}

.text_align-right {
    display: block;
    text-align: right;
}

.description {
    position: relative;
    z-index: 2;
}

.description_text {
    
}


/* ===== LOTS ===== */

.lots {
    margin: 0 24px 120px;
    padding: 0;
}

.lots_title {

}

.lot_cards {

}

.lot_card {
    width: 334px;

}

.lot_movie {
    background-image: url(./images/lot_movie.jpg);
}

.lot_book {
    background-image: url(./images/lot_book.png);
}

.lot_painting {
    background-image: url(./images/lot_painting.jpg);

}

.lots_card_title {

}

.lot_card_text {

}

.lots_more {

}


/* ===== ABOUT ===== */

.about {
    margin: 0 24px 180px;
    padding: 35px 0 0 47px;
}

.logo_column {

}

.logo_in_column {

}

.about_column {

}

.about_title {

}

.about_text {

}


/* ===== FOOTER ===== */

.footer {
    padding: 0 50px 82px;
    margin: 0;
}

.socials {

}

.socials_youtube {

}

.socials_vk {

}

.socials_pinterest {

}

.background-photos {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.underline {
    text-decoration: underline;
}